<h1>Edit your account, <%= @user.name %></h1>
<div class="topnav">
 <a>CarFinder</a>
  <a  href="../car_posts">Home</a>
  <a class="active" href="new">Sign In</a>
   <a href="../car_posts/new">New Listing</a>
</div>

<%= form_for(@user) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <br>

    <%= f.label :email %>
    <%= f.text_field :email %><br>
    <br>

    <%= f.label :street_address %>
    <%= f.text_field :street_address %>

    <%= f.label :city %>
    <%= f.text_field :city %>

    <%= f.label :state %>
    <%= f.select :state, options_for_select(us_states.select)%><br>
    <br>

    <%= f.label :zipcode %>
    <%= f.text_field :zipcode %><br>
    <br>

    <%= f.submit %>
<% end %>