<div class="topnav">
       <a style="font-family: impact;"> CarFinder</a>
    <a  href="../car_posts">Home</a>
    <a href="../car_posts/new">New Listing</a>
        <div class="dropdown">
            <button class="dropbtn"><%=link_to current_user.name.titleize, user_path(current_user)%>
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <%= link_to "Log Out", logout_path, method: :delete %>
            </div>
        </div>
  </div>
</div>


<% provide(:title, 'Edit') %>
<h1>Sign Up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: edit_user_path) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %><br>
      <br>

      <%= f.label :email %>
      <%= f.email_field :email %><br>
      <br>

      <%= f.label :password %>
      <%= f.password_field :street_address %><br><br>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %><br><br>

      <%= f.submit "Edit My Account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>