<div class="topnav">
 <a>CarFinder</a>
  <a  href="../car_posts">Home</a>
  <a class="active" href="new">Sign In</a>
   <a href="../car_posts/new">New Listing</a>
        <%if current_user != nil%>
  <a><%=link_to current_user.name, user_path(current_user)%></a>
  <%else%>
  <a><%=link_to "Login", login_path%>
  <%end%>
</div>


<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="form">
    <%= form_for(@user) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
