<nav class="topnav">
    <a style="font-family: impact;"> CarFinder</a>
    <%=link_to "Home", car_posts_path%>
    <%=link_to "New Listing", new_car_post_path%>
    <%if logged_in? %>
        <nav class="dropdown">
        <button class="dropbtn"><a><%= current_user.name.titleize %></a></button>
            <div class="dropdown-content">
                <%= link_to "Profile", user_path(current_user) %>
                <%= link_to "Settings", edit_user_path(current_user) %>
                <%= link_to "Log Out", logout_path, method: :delete %>
            </div>
        </nav>
    <%else%>
        <a><%=link_to "Login", login_path%></a>
    <%end%>
</nav>


<div class="user-info">


<h2><%= @user.name %></h2>
 <ul> 
                <li>Email: <%= @user.email %></li></ul>
<br>
<br>
<br>

</div>
<div class='user-cars'>
<h2>Cars For Sale: </h2>
            <%@user.car_posts.each do |cp|%>

<div class="column index_obj" >
        <%= link_to car_post_path(cp) do %>

    <div class="index_img row">

    <p>

    <h1><%=cp.title%></h1>
    <center><%=image_tag cp.photo.thumb.url %></center>

    </p>
    </div>
    <%= link_to edit_car_post_path(cp) do %>
    <div class="edit">
        Edit
</div>
<%end%>
</div>
<% end %>
<%end%>
        </section>
    </aside>
</div>

</div>