<h1>Welcome, <%= @user.name %>!</h1>

<label><b>Email Address:</b></label>
    <%= @user.email %>
    <br>
    <br>

<label><b>Address:</b></label>
    <%= @user.street_address.titleize %> <%= @user.city%> <%= @user.state %>, <%= @user.zipcode%>

