<div class="topnav">
    <a> CarFinder</a>
  <a class="active" href="../car_posts">Home</a>
  <a href="../car_posts/new">New Listing</a>
  <%if current_user != nil%>
  <a><%=link_to current_user.name, user_path(current_user)%></a>
  <%else%>
  <a><%=link_to "Login", login_path%>
  <%end%>
</div>
<br>
<div class="hero-image">
  <div class="hero-text">
    <font size='15'>CarFinder</font>
    <h2>Welcome<h2>
    <%= form_tag(car_posts_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ('Search'), name: nil %>
<% end %>
  </div>
</div>
<br> <br> <br>



<%@car_posts.each do |cp|%>

<div class="column index_obj" >
        <%= link_to car_post_path(cp) do %>

    <div class="index_img row">

    <p>

    <h1><%=cp.title%></h1>
    <center><%=image_tag cp.photo.thumb.url %></center>

    </p>
    </div>
</div>
<% end %>
<%end%>
