<div class="topnav">
      <a style="font-family: impact;"> CarFinder</a>
    <%=link_to "Home", car_posts_path%>
    <%=link_to "New Listing", new_car_post_path%>
   <%if logged_in? %>
        <div class="dropdown">
            <button class="dropbtn"><a><%= current_user.name.titleize %></a>
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <%= link_to "Profile", user_path(current_user) %>
                <%= link_to "Settings", edit_user_path(current_user) %>
                <%= link_to "Log Out", logout_path, method: :delete %>
            </div>
        </div>
    <%else%>
        <a><%=link_to "Login", login_path%></a>
    <%end%>
  </div>
</div>
<br><br><br>

<h1><%=@car_post.title%></h1>
<div  class="show_img" >
  <%= image_tag @car_post.photo.thumb.url %>

</div>
<div class ="comment">

<div class="column">
<h3>General Info:</h3>
    <%=@car_post.content%></p>
    <table  style="attr_table">
        <thead>
            <th>Make/Model</th>
            <th>Year</th>
            <th>Color</th>
            <th>Mileage</th>
            <th>Type</th>

        </thead>
        <tbody>
    <%@car_post.make_models.each do |m| %>
        <td><%=m.make_model%></td>
         <td><%=m.year%></td>
         <td><%=m.color%></td>
       <td><%=m.mileage%></td>
        <td> <%=m.style%></td>

    
    <%end%>
    </table>
</div>

<div class="column">
<h3>Reviews: </h3>
<table  style=" border: 1px solid;
  border-radius: 3px;" width="500">
<% @car_post.reviews.each do |comment| %>
    <thead>
        <th><%= comment.user.name %></th>
    </thead>
    <tbody>
        <td><%= comment.content %></td>
    </tbody>
<% end %>

</table>
<%= form_for @car_post.reviews.build do |f| %>
    <%= f.hidden_field :car_post_id %>
    <%= f.hidden_field :user_id%>
    <%= f.label :content, "Leave A Review:" %><br>
    <%= f.text_area :content%><br>
    <%= f.submit %>
<% end %>
</div>
</div>

